@font-face {
	font-family: "ubuntu";
	src:
		local("ubuntu"),
		url("fonts/UbuntuLight.css") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "ubuntu";
	src:
		local("ubuntu"),
		url("fonts/UbuntuRegular.css") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "ubuntu";
	src:
		local("ubuntu"),
		url("fonts/UbuntuMedium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "oswald";
	src:
		local("oswald"),
		url("fonts/OswaldMedium.css") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "oswald";
	src:
		local("oswald"),
		url("fonts/OswaldSemiBold.css") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
