Html {
	font-family: ubuntu, oswald, sans-serif;
	font-weight: 400;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
a {
	text-decoration: none;
}
a,
button {
	outline: none;
}
.container {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px;
}
.text {
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #535755;
}
.button {
	display: inline-block;
	padding: 19px 32px;
	font-weight: 500;
	font-size: 15px;
	line-height: 130%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	background: #3596ed;
	transition:
		opacity 0.2s,
		background-color 0.2s;
}
.button:hover {
	opacity: 0.85;
}
.button:not(:disabled):active {
	background-color: #045ca8;
}
button.button:disabled {
	opacity: 0.65;
	cursor: default;
}
.section {
	margin-bottom: 140px;
}
.title-large {
	max-width: 596px;
	font-family: "oswald", sans-serif;
	font-weight: 600;
	line-height: 115%;
	text-transform: uppercase;
	color: #2c332f;
	margin-bottom: 40px;
	font-style: 48px;
}
.title-medium {
	font-family: "oswald", sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 115%;
	text-transform: uppercase;
	color: #2c332f;
}
.text-sub {
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	text-align: right;
	color: #858e8a;
}
a:focus-visible,
button:focus-visible,
summary:focus-visible {
	outline: 2px solid #3596ed;
	outline-offset: 1px;
}
