.header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #d3cbd9;
	padding: 30px 0px;
	width: 1220px;
	height: 105px;
}
.phone {
	text-align: right;
}
.phone p {
	margin-bottom: 8px;
}
.phone a {
	font-weight: 500;
	font-size: 18px;
	color: #2c332f;
	transition: color 200ms;
}
.phone a:hover {
	color: #3596ed;
}
